<router-outlet></router-outlet>
<h1>Ag-grid</h1>    
<div class="card" >    
  <div class="card-body pb-0">    
    <div class="row">    
      <div class="col-md-12">    
        <div class="card">    
          <div class="card-header">    
            Employee Details 
          </div>    
          <div class="card-body position-relative" style="color: black;border: 1px;">    
            <div class="ag-theme-balham" style="height:550px;" >    
              <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData"    
                [IsColumnsToFit]="true">    
              </app-ag-grid>    
            </div>    
          </div>    
        </div>    
      </div>    
    </div>    
  </div>    
</div>    