<div style="width:100%; height: 100%;">    
    <table id="dynamic-table" class="table table-stripedtable-hover" style="width:100%; height: 100%;">    
      <ag-grid-angular style="width:100%; height:85%;" class="ag-theme-balham" [columnDefs]="ColumnDefs"    
        [enableSorting]="true" [animateRows]="true" [pagination]="true" [paginationPageSize]="3" [floatingFilter]="true"    
        [animateRows]="true" (gridReady)="BindData($event)">    
      </ag-grid-angular>    
    </table>    
  </div>     
